Tutort.Resources/bin/
Tutort.Resources/obj/
.vs/
Tutort.Web.UnitTests/bin/
Tutort.Web.UnitTests/obj/
Tutort.Web/bin/
Tutort.Web/obj/
/InstagramCommentsConverter.UnitTests/bin
/InstagramCommentsConverter.UnitTests/obj
/InstagramCommentsConverter/bin
/InstagramCommentsConverter/obj
/Tutort.Services/bin
/Tutort.Services.UnitTests/bin
/Tutort.Services.UnitTests/obj
/Tutort.Services/obj
/Tutort.Base/bin
/Tutort.Base/obj
/Tutort.Core/bin
/Tutort.Core/obj
/Tutort.Models/bin/Debug
/Tutort.Models/obj
/Tutort.SocialNetworks/bin
/Tutort.SocialNetworks/obj
/Tutort.SocialNetworks.IntegrationTests/bin
/Tutort.SocialNetworks.IntegrationTests/obj
/Tutort.Web.Localization/bin
/Tutort.Web.Localization/obj
/Utils/InstagramCommentsConverter/bin
/Utils/InstagramCommentsConverter/obj
/Utils/InstagramCommentsConverter.UnitTests/bin
/Utils/InstagramCommentsConverter.UnitTests/obj
