@model Tutort.Web.ViewModels.Giveaway.GiveawayParticipantViewModel

<div class="heading-section">
	<h2><a href="https://www.instagram.com/@Model.InstagramUser/" target="_blank">@Model.InstagramUser</a></h2>
	<img src="@Url.Content("~/images/under-heading.png")" alt="">
	<h4>Комментарий: @Model.Comments.First()</h4>
</div>